<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="URPSXM" patternSyntax="Wildcard" stopProcessing="false">
                    <match url="*get_number*" />
                    <action type="Rewrite" url="http://127.0.0.1:8123/{R:0}" />
                    <conditions>
                    </conditions>
                    <serverVariables>
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
        <httpErrors errorMode="DetailedLocalOnly" />
    </system.webServer>
</configuration>
