.demos-title:before{content:"";margin-left:45%;position:absolute;width:80px;height:20px;background-color:rgba(255,255,255,.5);will-change:transform;transform:rotate(-75deg);animation:logoLights 1s ease-in 1s infinite}
@keyframes logoLights {0%{left:-100px;top: 0}to{left:120px;top:100px}}
@keyframes fade-in{0%{opacity:0;top:30px}100%{opacity:1;top:0px;will-change:auto}}	 
.content{position:relative;margin:0 auto;width:30%;animation:fade-in;animation-duration:0.5s;will-change:transform;transform:translate3d(0,0,0)}
.demos-header{padding-top:35px}
.demos-title{text-align: center;font-size: 34px;color: #3cc51f;font-weight:400;margin: 0 15%}
.signbox{padding-right:15px}
.col-50{width: 48% !important;float:left;margin:0 1% 0 1% !important}
.quickquery{width:92%;margin:72px auto 0 auto}
.quickquery a{background-color:#006fe2}
.quickquery a:active{background-color:#0061c5 !important}
.weui-label{width:95px !important}
.weui-cells__title.status{text-align:center}
.weui-cells:before{border-top:0}
.weui-cells:after{border-bottom:0}
.weui-cells.weui-cells_form.bigbox{margin-left:15px;border:1px solid rgba(81, 203, 238, 1);border-radius:3px}
#login_captcha{margin:10px;border-radius:2px}
.info_tag{padding-top:5px}
@media screen and (max-width:1300px){.content{width:35%}}
@media screen and (max-width:1200px){.content{width:40%}}
@media screen and (max-width:1100px){.content{width:42%}}
@media screen and (max-width:1000px){.content{width:45%}}
@media screen and (max-width:850px){.content{width:50%}}
@media screen and (max-width:750px){.content{width:55%}}
@media screen and (max-width:700px){.content{width:60%}.demos-title:before{margin-left:40%}}
@media screen and (max-width:650px){.content{width:65%}.demos-title:before{margin-left:40%}}
@media screen and (max-width:600px){.content{width:70%}.demos-title:before{margin-left:40%}}
@media screen and (max-width:550px){.content{width:80%}.demos-title:before{margin-left:35%}}
@media screen and (max-width:525px){.content{width:85%}.demos-title:before{margin-left:35%}}
@media screen and (max-width:440px){.content{width:100%}.demos-title:before{margin-left:30%}}
.i_page-title{font-size:16px;text-align:center;background-color:#01a9da;position:relative;height:160px;overflow:hidden}
.i_page-navbar{line-height:40px;color:#fff;font-size:16px;text-align:center;background-color:#03a9f4;position:relative;height:40px;overflow:hidden}
.i_page-navbar a.return {width: 62px;padding-left: 0;text-indent: 8px;left:0}
.i_page-navbar a {position: absolute;margin: 5px 6px;display: inline-block;padding-left: 15px;line-height: 30px;font-size: 14px;right: 0;color: #fff;width: 70px}
.i_header{margin-left:5%}
.i_user-photo-container{margin-top:32px;float: left}
.i_user-info-container{float:left;margin:44px 0 0 16px;line-height:20px}
.i_user-info-container{text-align:left;color:#fff}
.i_user-info-container h1{font-size:1.2em;font-weight:normal}
.i_user-info-container p,.i_user-info-container a{font-size:14px}
.i_user-info-container a{color:#fff}
.i_user-photo{border-radius:50%;border:4px solid #6cc8e2}
#i_submit{cursor:pointer}
#i_total p{padding:10px 0 0 20px}
#i_total center{margin:0 auto;font-family:'LeagueGothic',Impact;font-size:3em;color:#0092bf}
#list_page{background-color:#FFF}
#list_page td{font-size:12px;text-decoration:none;color:#000000}
#list_page table{table-layout:auto;word-wrap:break-word;background-color:#fff;width:100%;position:relative;margin:0 auto}
#list_page table.title tr td{color:#000000;font-size:14px;font-weight:bold;text-decoration:none;height:24px;line-height:0rem;padding-top:10px;float:left;word-break:break-all;overflow:hidden;border-collapse:separate;border-spacing:1px}
#list_page table.titleTop2{background-color:#ffffff}
#list_page table.displayTag tr.even{background-color:#FFFFFF;color:#000000;text-decoration:none;font-size:12px;height:20px}
#list_page table.displayTag tr.evenfocus{background-color:#FFFBDD;text-decoration:none;font-size:12px;height:20px}
#list_page table.displayTag tr.odd{background-color:#FFFFFF;color:#000000;text-decoration:none;font-size:12px;height:20px}
#list_page table.displayTag tr.oddfocus{background-color:#FFFBDD;text-decoration:none;font-size:12px;height:20px}
#list_page table.displayTag tr.oddSelected{background-color:#FFFF97;text-decoration:none;font-size:12px;height:20px}
#list_page table.displayTag tr.evenSelected{background-color:#FFFF97;text-decoration:none;font-size:12px;height:20px}
#list_page table.displayTag tr td.sortable{background-color:#D7E7FF;font-size:12px;font-weight:bold;color:#000000;text-decoration:none;text-align:center;padding-right:5px;padding-left:5px;height:20px;white-space:nowrap}
#list_page table.displayTag th.sortable{word-wrap:break-word;background-color:#E1EDFF;font-size:12px;font-weight:bold;color:#000000;text-decoration:none;text-align:center;padding-right:5px;padding-left:5px;height:20px}
#list_page table.displayTag{background-color:#238BD4}
#list_page table.displayTag2{background-color:#ffffff}
#list_page table.fieldsettop{border-right-width:0px;border-left-width:10px;border-right-style:solid;border-left-style:solid;border-right-color:#ffffff;border-left-color:#ffffff;border-top-width:8px;border-top-style:solid;border-top-color:#ffffff}
#list_page .legend{font-size:14px;font-weight:bold;color:#248CD5;text-decoration:none;background-color:#ffffff}
#list_page table .infoBg2{float:left}
#list_page table .infoBg4,#list_page table .infoBg5{display:none}
#tblView tr td{width:50% !important}
#plan_tag{padding:10px 0 10px 30px}
#plan_tag tr td{font-size:12px;width:60% !important}
#list_page table.titleTop3{background-color:#ffffff;border-top:5px solid #ffffff;border-bottom:5px solid #ffffff}
.item-inner span{margin-right:10px}